.container-fluid{
    height: 100vh;
    background-image: url(img/knigi-biblioteka-mnogo.jpg);
    display: flex;
    background-position: center;
    background-attachment: fixed;

    background-size: 100%;
}
main{
    width: 400px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.849);
}
h5{
    font-size: 25px;
}

input{
    width: 300px;
}
a{
    width: 300px;
}
.info-background {
    background-color:#33b5e5;
}
.white{
    color:#ffffff;
}
input[type="text"] {
    width: 300px;
}

